@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
  font-family: 'Exo 2', sans-serif;
  background: no-repeat url("home_back.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

.content {
    display: flex;
    height: auto;
    weight: auto;
}

.content > div {
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content > div:first-child {
    background-color: #cceeff;
}

.content > div:last-child {
    background-color: #ffcccc;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    background-color: #ddd;
    padding: 13px 13px;
    border: 0.4px solid #000;
    border-radius: 0.3px;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #ccc;
    transform: scale(1.05);
}