body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    animation: gradient 3s infinite alternate;
}

@keyframes gradient {
    0% { color: #ff9999; }
    100% { color: #ff3333; }
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 7px;
}

select {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#unit {
    background-color: #fafaf2;
}

#parameter {
    background-color: #f2f9fa;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#realtimeChart {
    max-width: 1000px;
    max-height: 600px;
}