<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/static/ico/home.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <h1>Welcome to the <u>SfPTPfS</u></h1>
    <div class="content">
        <div>
            <h2>Построение графиков технических параметров</h2>
            <a href="/SfPTPfS">Перейти к <b>графикам</b></a>
        </div>
        <div>
            <h2>Мониторинг данных в режиме реального времени</h2>
            <a href="/monitoring">Перейти к <b>мониторингу</b></a>
        </div>
    </div>
</body>
</html>
