<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time monitoring</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/monitoring.css">
</head>
<body>
    <h1>Мониторинг данных в "прямом эфире"</h1>
        <label for="unit">Выберите <u>агрегат</u>:</label>
    <select id="unit" onchange="loadParameters()"></select>

    <label for="parameter">Выберите <u>параметр</u>:</label>
    <select id="parameter" onchange="startRealtimeGraph()"></select>

    <canvas id="realtimeChart" width="800" height="400"></canvas>

    <script src="/static/monitoring.js"></script>
</body>
</html>
