@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');


body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #f7f7f7;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/monitoring.jpg');
    background-size: cover;
    background-position: center;
}


h1 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2.5rem;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 5s linear infinite;
}

@keyframes textflow {
    from {background-position: 0% center}
    to {background-position: 200% center}
}


label {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 7px;
}


select {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#unit {
    background-color: #fafaf2;
}

#parameter {
    background-color: #f2f9fa;
}


.canvas-container {
    position: relative;
    width: 848px;
    height: 470px;
    right: 7px;
    top: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#realtimeChart {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #edeef58a; /* убрать, или поставить прозрачный фон # #edeef522 */
}
