/* === Импорт шрифтов  === */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


/* === Основные стили === */
body {
    font-family: 'Fjalla One', sans-serif;
    background: url('/static/img/SfPTPfS.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* === Заголовки === */
h1 {
    text-align: center;
    margin: 0px 0px 3px 0px;
    padding: 0px 0px 3px 0px;
}


/* === Статус генератора === */
#generatorStatus {
    font-size: 18px;
    font-family: 'Comic Neue', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    padding: 5px 0px 2px 0px;
    margin: 5px 0px 3px 0px;
}

#generatorStatus.sleeping {
    color: darkblue;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 5s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

#generatorStatus.active {
    color: green;
    text-shadow: 0 0 15px #32cd32, 0 0 30px #00ff00;
    animation: sparkEffect 1.5s infinite;
}

  /* Анимация переливания */
@keyframes slowPulse {
    0% {
        text-shadow: 0 0 5px #1e90ff, 0 0 10px #87ceeb, 0 0 15px #4682b4;
        color: #1e90ff;
        background: linear-gradient(45deg, #1e90ff, #4682b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        text-shadow: 0 0 10px #4682b4, 0 0 20px #5f9ea0, 0 0 30px #1e90ff;
        color: #4682b4;
        background: linear-gradient(45deg, #4682b4, #1e90ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        text-shadow: 0 0 5px #1e90ff, 0 0 10px #87ceeb, 0 0 15px #4682b4;
        color: #1e90ff;
        background: linear-gradient(45deg, #1e90ff, #4682b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

  /* Анимация искр */
@keyframes sparkEffect {
    0%, 100% {
        text-shadow: 0 0 15px #00ff00, 0 0 30px #32cd32;
    }
    50% {
        text-shadow: 0 0 25px #32cd32, 0 0 45px #00ff00;
    }
}


/* === Контейнеры === */
.container {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    height: 80vh;
    width: 80vw;
}


/* === Левый и правый блоки === */
.left-pane, .right-pane {
    flex: 1;
    padding: 15px 25px 15px 25px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #ddd;
}

.left-pane {
    background-color: rgba(249, 249, 249, 0.9);
    border-right: 2px solid #ddd;
}

.right-pane {
    background-color: rgba(255, 255, 255, 0.9);
}


/* === Формы === */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: rgba(245, 245, 245, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* === Кнопки === */
button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3d37a3;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

#generatorToggle {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8.5em;
    margin-right: auto;
    text-align: center;
}


/* === Поля ввода и выбора === */
input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f0fffdb2;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}


/* === Модальное окно === */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}

.blurred-content {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
